{% extends 'base.html.twig' %}

{% block title %}Bienvenue à la banque de peuple{% endblock %}

{% block body %}

<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Bienvenue à la banque du peuple</h1>
      <p>La banque de l'avenir qui vous fait rêver</p>
      <p>Pour plus de details cliquer sur ici</p>
      <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">Details &raquo;</a>
      </p>
    </div>

  </div>
</div>

{% endblock %}
