{% extends 'base.html.twig' %}

{% block title %}Editer client moral{% endblock %}
{% block body %}
<h4 class="text-white text-center">FORMULAIRE D'EDITION DE CLIENT MORAL</h4>

{{ form_start(form) }}
    {% include "moral/index.html.twig" %}
    <button class="btn btn-primary col-md-4 offset-md-4">
        Editer
    <button>
{{ form_end(form) }}

{% endblock %}