{% extends 'base.html.twig' %}

{% block title %}Editer compte{% endblock %}
{% block body %}
<h1>Editer un compte</h1>

{{ form_start(form) }}
    {% include "compte/index.html.twig" %}
    <button class="btn btn-success">
        Editer
    <button>
{{ form_end(form) }}

{% endblock %}