{% extends 'base.html.twig' %}

{% block title %}Ajouter client Physique{% endblock %}

{% block body %}

<h4 class="text-white text-center">FORMULAIRE D'AJOUT DE CLIENT PHYSIQUE</h4>

{{ form_start(form) }}
    {% include "physique/index.html.twig" %}
    <button class="btn btn-success col-md-4 offset-md-4">
        Ajouter
    <button>
{{ form_end(form) }}

{% endblock %}