{% extends 'base.html.twig' %}

{% block title %}Ajouter client physique
{% endblock %}

{% block body %}
	<h5>
		Ajout Physique
	</h5>

	{{ form_start(form) }}


	{{ form_end(form) }}

{% endblock %}
